ul{
    list-style-type: square;
    background: blue;
    padding: 0px;
    border: 10px solid"green";
    border-left: 5px solid"pink";
    background-color: chartreuse;
    list-style-type: none;
    padding: 15px 25px;
    font-size: 20px;
}
ol{
    list-style-type: lower-alpha;
    background: red;
    margin-left: 30px;
    border: 8px 15px solid"black";
    padding: 10px;
}
table{
    border-collapse: collapse;
}
td,th{
    border: 1px solid black;
    padding: 15px;
}
tbody tr:nth-child(odd){
    background-color: darkgreen;
}
tbody tr:nth-child(even){
    background-color: coral;
}
div{
    overflow: scroll;
    background-color: blue;
    height: 200px;
    width: 200px;
}