 article > p {

    background: blue;
    color: turquoise;
    padding: 20px;


} 


article > p {

    background: blue;
    color: turquoise;
    padding: 20px;


}

article ~ p {

    background: green;
    color: turquoise;
    padding: 20px;


}article + p {

    background: purple;
    color: turquoise;
    padding: 20px;


}
h3:first-child{ 
    background-color: aquamarine;
    color: black;

}