nav {
    overflow: hidden;
    background-color: black;
    position: relative;
    max-width: 400px;
}

nav #myLinks {
    display: none;
}

nav a, button {

    color: blue;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

nav button.icon {
    background-color: blueviolet;
    display: block;
    position : absolute;
    margin-top: 10px;
    right: 10px;
    top: 0;

}

nav a:hover {
    background-color: aqua;
    color: blueviolet;
}